.card-container {
    width: 99%;
    padding: 5px;
    cursor: pointer;
    font-family: 'Caveat';
    border-bottom: 3px dashed rgba(255, 255, 255, 0.449);
    
  }
  
  .card-date {
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    color: #ffffff;
    font-weight: 700;
    padding: 3px;
    font-family: monospace;
  }

  .card-airportd {
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    color: #000644;
    font-weight: 700;
    padding: 3px;
    font-family: monospace;
  }

  .card-airporta {
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    color: #000644;
    font-weight: 700;
    padding: 3px;
    font-family: monospace;
  }

  .card-title {
    display: inline;
    font-family: 'Ephesis';
    font-weight: 600;
    font-size: 35px;
  }
  
  .card-cost {
    margin-top: 15px;
    text-align: end;
    font-size: 21px;
    padding: 0 1%;
  }
  
  .card-airline{
    font-size: 25px
  }

  .card-container:hover {
    background-color: #ffffff;
    color: #000644;
    border: 2px solid #000644;
    border-radius: 5px;
  }

  .card-container:hover .card-date{
    background-color: #ffffff;
    color: #000644;
    border-radius: 5px;
  }

  .card-container:hover .card-airporta{
    background-color: #000644;
    color: #ffffff;
    border-radius: 5px;
  }

  .card-container:hover .card-airportd{
    background-color: #000644;
    color: #ffffff;
    border-radius: 5px;
  }