* {
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(30, 108, 233, 0.19);
  color: #ffffff;
}

.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
    
}

.register-container {
  padding: 10px 20px;
  width: 350px;
  height: max-content;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Merriweather', serif;
  font-weight: 100;
}

.register-input {
  display: block;
  margin: 10px auto;
  padding: 7px 5px;
  border-radius: 5px;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  width: 330px;
  background-color: #ffffff;
}

.register-button {
  padding: 2px 5px;
  font-family: 'Caveat';
  font-size: 20px;
  width: 50%;
  border-radius: 5px;
  background-color: #ffffff;
}
.register-button:hover{
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px;
  color: #000644;
}

.menu-title{
  text-align: center;
  margin: 10px auto;
  font-family: 'Caveat';
  font-size: 40px;
  color: #ffffff;
}
.menu{
  border: 2px solid;
  border-radius: 20px;
  margin-top: 20px;
  padding: 0 1%;
  width: 90%;
  background-color: #000644;
  border-color: #000000;
}

header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px;
  border-bottom: 10px solid #000644;
}

header p{
  color:#ffffff;
  font-size: 40px;
  font-family: 'monospace';
}

#header-title{
  font-family: Pacifico, Serif;
  font-weight: 600;
  font-size: 100px;
  color: #ffffff;
  -webkit-text-stroke: #ffffff00 1px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #000000;
  background-color: #000644;
  padding: 0px 30px 0px 30px;
  margin: 60px 0px 30px 0px;
}

#capa_sobre{
  background-image: url('images\background.jpg');
}

